*{
    font-family: 'Old Standard TT', serif;
}
h1{
    font-weight: 700;
}
a{
    text-decoration: none;
    color: black;
}
p{
    text-justify: auto;
}
img{
    max-width: 250px;
    max-height: 250px;
}
footer{
    font-style: italic;
    position: relative;
    bottom: 0;
}
.fa-sun{
    color: #fff;
}
.redes-sociales{
    display: flex;
    justify-content: center;
    margin: auto;
}
.red{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 20%;
    text-align: center;
    font-size: 60px;
}
.mail:hover{
    background-color: #c71610;
    color: #fff;
}
.linkedin:hover{
    background-color: #0e76a8;
    color: #fff;
}
.github:hover{
    background-color: #333;
    color: #fff;
}
.twitter:hover{
    background-color: #000;
    color: #fff;
}
.contacto{
    margin-top: 8vh;
}
.imgmia{
    width: 250px;
    border-radius: 50%;
}
.ico-cono i{
    font-size: 48px;
}
.fa-regular{
    color: #fff;
}
